#main {
    .MuiTypography-h5 {
        font-family: 'heading-font' !important;
    }
    .MuiTypography-h4 {
        font-family: 'heading-font' !important;
    }
    .MuiTypography-h3 {
        font-family: 'heading-font' !important; 
    }
    .MuiTypography-h2 {
        font-family: 'heading-font' !important;
    }
    .MuiTypography-h1 {
        font-family: 'heading-font' !important;
    }
    .MuiTypography-body2 {
        font-family: 'text-font' !important;
    }
    .MuiTypography-h6 {
    font-family: 'heading-font' !important;
}
}