#product-carousel {
  .left-arrow-calc {
    top: 120px;
    left: calc(0% + -30px);
    color: "white";

  }
  .right-arrow-calc {
    top: 120px;
    right: calc(0% + -30px);
    color: "white";
  }
}
